<form (ngSubmit)="openDialog()">
    <mat-form-field>
        <button mat-button matPrefix mat-icon-button (click)="addedName=''">
            <mat-icon *ngIf="addedName != ''">x</mat-icon>
        </button>
        <input name="addedName" autocomplete="off" matInput [(ngModel)]="addedName" placeholder="Who is it now?">
    </mat-form-field>
    <button type="submit" color="accent" mat-raised-button [disabled]="addedName == ''">Add</button>
</form>

<div class="offenders">
<mat-accordion>
<mat-expansion-panel *ngFor="let offender of offenders">

    <mat-expansion-panel-header>
        <mat-panel-title>
            {{offender.name}}
        </mat-panel-title>
        <mat-panel-description>
            <span *ngIf="!offender.banStatus && offender.score < 10">{{offender.score}} Point<span *ngIf="offender.score > 1">s</span></span>
            <span class="banned" *ngIf="!offender.banStatus && offender.score == 10">{{offender.score}} Points</span>
            <span class="banned" *ngIf="offender.banStatus">Banned</span>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="date-added">First Offense: {{offender.dateAdded | date}}</div>
    <div>
        Last Updated:
            <span *ngIf="offender.lastUpdated.toString() == today">Today</span>
            <span *ngIf="offender.lastUpdated.toString() !== today">{{offender.lastUpdated | date}}</span>
            by Admin{{Admin}}
    </div>

    <div class="form-group">
        <mat-form-field>
            <mat-select
            placeholder="Score"
            [(value)]="offender.score"
            [disabled]="offender.banStatus"
            [(ngModel)]="offender.score"
            (selectionChange)="doSomething($event, offender)"
            name="score">
                <mat-option [value]=1>1</mat-option>
                <mat-option [value]=2>2</mat-option>
                <mat-option [value]=3>3</mat-option>
                <mat-option [value]=4>4</mat-option>
                <mat-option [value]=5>5</mat-option>
                <mat-option [value]=6>6</mat-option>
                <mat-option [value]=7>7</mat-option>
                <mat-option [value]=8>8</mat-option>
                <mat-option [value]=9>9</mat-option>
                <mat-option [value]=10>10</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-slide-toggle
        color="warn"
        [(ngModel)]="offender.banStatus"
        [checked]="offender.banStatus"
        name="banStatus">
            <span *ngIf="!offender.banStatus">Banned?</span>
            <span *ngIf="offender.banStatus">Banned on {{offender.lastUpdated | date}} by Admin{{Admin}}</span>
        </mat-slide-toggle>
    </div>

    <div class="form-group">
        <form (ngSubmit)="addNewNote(offender)">
            <mat-form-field>
                <button [disabled]="newNote == ''" mat-button matPrefix mat-icon-button (click)="newNote=''">
                    <mat-icon *ngIf="newNote != ''">x</mat-icon>
                </button>
                <input matInput name="newNote" type="text" autocomplete="off" [(ngModel)]="newNote" placeholder="Add comments" />
            </mat-form-field>
            <button class="note-btn" type="submit" [disabled]="newNote == ''" mat-button matSuffix label="Add comment" mat-icon-button></button>
        </form>
    </div>

    <div class="form-group">
        <h3 class="mat-h3">History</h3>
        <ul *ngFor="let note of offender.notes">
            <li>{{note.comment}} <em>({{note.dateAdded | date}} by {{note.addedBy.nickName}})</em></li>
        </ul>
    </div>

    <button class="save-btn" float="left" mat-raised-button color="primary" (click)="buttonClicked()">Save Changes</button>
    <button class="cancel-btn"  float="right" mat-raised-button color="warn" (click)="buttonClicked()">Discard Changes</button>

</mat-expansion-panel>
</mat-accordion>
</div>
