mat-expansion-panel-header {
    font-size: 20px;
}

mat-icon {
    color: accent;
}

.app-layout {
    max-width: 800px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.dates {
    margin-bottom: 25px;
}

.date-added{
    font-size: 16px;
}

.fb-link {
    margin-bottom: 15px;
}

.note-btn:after {
    font-family: 'FontAwesome';
    content: "\f055";
    font-size: 2em;
}

.note-btn.mat-icon-button {
     color: #28a745;
}

.note-btn:disabled {
    color: rgba(0,0,0,.26);
}

.ban-btn:after {
    font-family: 'FontAwesome';
    content: "\f05e";
    font-size: 2em;
}

.ban-btn.mat-icon-button {
     color: rgba(0,0,0,.26);
}

.ban-btn.banned {
    color: #f44336;
}

.new-offender, .offenders {
    margin: 20px auto 10px auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1.3em;
}

li:before {
  font-family: "FontAwesome";
  content: "\f075";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.changed-item:before {
  font-family: "FontAwesome";
  content: "\f069";
  color: #f44336;
  margin-left: -1.3em;
  width: 1.3em;
}

.mat-expansion-panel-header-description {
    flex-grow: .35!important;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    flex-basis: 25%;
    font-size: 14px;
    min-width: 50%
}

.warning {
    color: red;
}

.edit-button {
    top: -20px;
    margin: 5px;
}