<app-header></app-header>

<div class="app-layout">
    <form (ngSubmit)="openDialog(addedName)">
    <button type="submit" color="accent" mat-raised-button [disabled]="addedName == ''">Add</button>
    <mat-form-field>
        <button type="button" matSuffix mat-icon-button (click)="clearValue()">
            <mat-icon *ngIf="addedName != ''" class="cancelX">close</mat-icon>
        </button>
        <input (keyup)="applyFilter($event.target.value)" name="addedName" autocomplete="off" matInput [(ngModel)]="addedName" placeholder="Who is it now?">
    </mat-form-field>
</form>

<div class="offenders">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let offender of filteredNames">

            <mat-expansion-panel-header [class.changed-item]="offender.changesMade == true" class="flex-parent">
                <mat-panel-title class="flex-child">
                    <span class="name">{{offender.name}}</span>
                </mat-panel-title>
                <mat-panel-description class="flex-child">
                    <span class="status" *ngIf="!offender.isBanned">{{offender.watchStatus}}</span>
                    <span class="warning status" *ngIf="offender.isBanned">Banned</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="dates">
                <div class="date-added">First Offense: {{offender.created | date}}</div>
                <div>
                    Last Updated: {{offender.updated | date}} by {{offender.updatedBy.displayName}}
                </div>
            </div>

            <div class="form-group status" >
            <form [class.changed-item]="offender.originalPoints != offender.points || offender.originalStatus != offender.isBanned">
                <button class="ban-btn button" (click)="banStatusChanged(offender)" [class.banned]="offender.isBanned" mat-button matSuffix label="Click to Ban" mat-icon-button></button>
                <mat-form-field *ngIf="!offender.isBanned">
                    <mat-select placeholder="Status" [(value)]="offender.points" [disabled]="offender.isBanned" [(ngModel)]="offender.points"
                        (selectionChange)="pointsChanged($event, offender)" name="points">
                        <mat-option [value]=0>Probation</mat-option>
                        <mat-option [value]=1>Watching</mat-option>
                        <mat-option [value]=2>Warned</mat-option>
                        <mat-option [value]=3>Final Straw</mat-option>
                    </mat-select>
                </mat-form-field>
                <span *ngIf="offender.isBanned">Banned on {{offender.dateBanned | date}} by {{offender.bannedBy.displayName}}</span>
            </form>
            </div>

            <div class="form-group notes">
            <form (ngSubmit)="addNewNote(offender)">
                <button class="note-btn" type="submit" [disabled]="newNote == ''" mat-button matSuffix label="Add comment" mat-icon-button></button>
                <mat-form-field>
                    <button type="button" [disabled]="newNote == ''" mat-button matSuffix mat-icon-button (click)="newNote=''">
                        <mat-icon *ngIf="newNote != ''" class="cancelX">close</mat-icon>
                    </button>
                    <input matInput name="newNote" type="text" autocomplete="off" [(ngModel)]="newNote" placeholder="Add comments" />
                </mat-form-field>
            </form>
            </div>

            <div class="form-group history">
                <h3 class="mat-h3">History</h3>
                <ul *ngFor="let note of offender.notes">
                    <li [class.changed-item]="note.isNew">{{note.note}}
                        <em>({{note.created | date}} by {{note.createdBy.displayName}})</em>
                    </li>
                </ul>
            </div>

            <button class="save-btn" float="left" mat-raised-button color="primary" [disabled]="!offender.changesMade" (click)="saveChanges(offender, currentUser)">Save Changes</button>
            <button class="cancel-btn" float="right" mat-raised-button color="warn" [disabled]="!offender.changesMade" (click)="discardChanges(offender)">Discard Changes</button>

        </mat-expansion-panel>
    </mat-accordion>
</div>
</div>