<mat-toolbar color="primary" class="toolbar">
    <span>{{APP_TITLE}}</span>
    <ng-container *ngIf="currentUser">
        <span class="fill-remaining-space"></span>
        <mat-menu #appMenu="matMenu">
            <i #currentUser mat-menu-item>{{userData.user.displayName}}</i>
            <button mat-menu-item [routerLink]="['/resetpassword']">Settings</button>
            <span  [routerLink]="['/login']" mat-menu-item (click)="logOut()">
                Log Out
            </span>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>settings</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>