<mat-toolbar color="primary" class="toolbar">
    <span>{{APP_TITLE}}</span>
    <ng-container *ngIf="currentUser">
        <span class="fill-remaining-space"></span>
        <mat-menu #appMenu="matMenu">
            <button *ngIf="userData.currentPage != 'OffenderComponent'" mat-menu-item [routerLink]="['/']">Main</button>
            <button *ngIf="userData.currentPage != 'ResetPasswordComponent'" mat-menu-item [routerLink]="['/resetpassword']">Settings For {{userData.user.displayName}}</button>
            <button *ngIf="userData.currentPage != 'UserComponent'" mat-menu-item [routerLink]="['/users']">Moderator List</button>
            <span  [routerLink]="['/login']" mat-menu-item color="red" (click)="logOut()">
                Log Out
            </span>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>settings</mat-icon>
        </button>
    </ng-container>
</mat-toolbar>