<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>ETP Mod Team</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
    </form>
    <mat-spinner [diameter]="20"></mat-spinner>
  </mat-card-content>
  <mat-card-actions class="login">
    <button type="submit" disabled mat-raised-button (click)="login()" color="primary">
      Login
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'" [diameter]="20"></mat-spinner>
    </button>
  </mat-card-actions>
</mat-card>