mat-input-element {
    color: warn;
}

.mat-menu-item.current-user:hover {
    cursor: default
}

.save-button {
    float: left;
    color: accent
}

.cancel-button {
    float: right;
    color: warn
}